<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>押忍 「404」</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #ffd3c0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }

        img {
            height: 95vh;
        }
    </style>
</head>
<body>
    <img src="/static/404.png">
</body>
</html>